#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* src/styles/tailwind.css */


@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 10px;
    opacity: 1;
  }
  40% {
    height: 20px;
    width: 10px;
    opacity: 1;
  }
  100% {
    height: 20px;
    width: 10px;
    opacity: 1;
  }
}
@keyframes cross {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg);
    opacity: 1;
  }
}

.cross {
  position: relative;
  width: 30px;
  height: 30px;
  opacity: 0;
  animation: cross 0.5s ease-in-out forwards;
}

.cross::before, .cross::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 6px;
  background-color: red;
}

.cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.checkmark {
  position: relative;
  height: 20px;
  width: 10px;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  transform: rotate(45deg);
  animation: checkmark 0.5s ease-in-out;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
